

<div class="historyNone news_feed"  style="display:none">
    <div class="news_feed_header header_calendar h1Calendar">История клуба</div>
    <div class="history_content">
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1935</h2>
                <p>
                    В 1935 году в Алчевске (тогда город носил название Ворошиловск) было образовано спортивное общество «Сталь», объединившее спортсменов металлургической отрасли. Организация уделяла большое внимание развитию детского футбола, и в городе начали создаваться команды, в которых играли дети рабочих и служащих, работавших на предприятиях города. С этого года главная команда города получила название «Сталь», и в этом же сезоне алчевцы стали чемпионами Луганской области. С каждым следующим сезоном «Сталь» добивалась всё больших успехов, но с началом Второй Мировой Войны история клуба кратковременно оборвалась.
                </p>
            </div>
        </div>
         <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1952</h2>
                <p>
                    Победоносное завершение войны над фашистской Германией советский народ воспринял с огромной радостью. Наряду с трудовым энтузиазмом бурно стал развиваться спорт, в том числе и в нашем городе. Особенно большой популярностью пользовался футбол. После войны в Алчевске были организованы две команды – «Сталь» и «Металлург». Оба коллектива успешно выступали в товарищеских встречах с элитными московскими командами, которые совершали гастрольные поездки по другим городам для популяризации футбола. Кроме того, «Металлург» в этот период времени был среди ведущих команд в первенстве Украины среди КФК – так, в 1952 году команда стала третьей в своей зоне.
                </p>
                <p>
                     В дальнейшем алчевский футбол начал сдавать свои позиции, потому как выдающаяся плеяда футболистов первых послевоенных лет в связи с возрастом завершила футбольную карьеру, а для подготовки надёжной смены потребовалось время.
                </p>
            </div>
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1963</h2>
                <p>
                    В 1963 году в алчевском футболе начинается новая, светлая страница. В связи с расширением класса «Б», учитывая высокие достижения в последние годы, коммунарскому (с 1961 года Алчевск носил название Коммунарск) «Коммунарцу» было предоставлено место во втором эшелоне советского футбола, который тогда назывался классом «Б».
                </p>
                <p>
                    К открытию футбольного сезона 1963 года на стадионе «Сталь» была произведена масштабная реконструкция: приведены в порядок трибуны, раздевалки, медицинский пункт. К слову, в тот период времени стадион «Сталь» вмещал пятнадцать тысяч зрителей. Первая игра в рамках второй зоны класса «Б» состоялась 28 апреля. Гостями «Металлурга» был «Авангард» из Жёлтых Вод (Днепропетровская область) с богатым опытом выступлений среди команд мастеров. В равной игре коммунарцы уступили со счётом 0:1. С каждым туром мастерство футболистов металлургического завода повышалось, и дебютный сезон в классе «Б» наша команда завершила на одиннадцатом месте из двадцати команд.
                </p>
            </div>
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1965</h2>
                <p>
                    Сезон 1965 года стал для «Коммунарца» одним из самых успешных в этот отрезок времени. Команда финишировала третьей в своей зоне, заняв восьмое место среди сорока пяти украинских команд, участвовавших в трёх зонах чемпионата СССР по классу «Б». В 1969 году «Коммунарец» стал четвёртым, а защитник команды <strong>Владимир Малыгин</strong> вошёл в символическую сборную Украины, составленную из игроков команд класса «Б». Следующий сезон стал знаменательным для нашей команды в первую очередь тем, что среди новых игроков, пришедших в команду, был Анатолий Волобуев, впоследствии главный тренер клуба, добившийся с командой наиболее значимых достижений в истории.
                </p>                
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1970</h2>
                <p>
                    По окончанию сезона 1970 года волевым решением федерации футбола СССР класс «Б» был ликвидирован, а большинство команд расформировано. Этим необдуманным поступком был нанесен огромный вред массовому футболу, последствия которого сказывались очень долго, особенно в периферийных городах страны. После этого сезона футболисты «Коммунарца» перешли в клубы высшей, первой и второй лиг СССР, а наша команда продолжила выступления в первенстве области и чемпионате Украины среди КФК.
                </p>                
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1972</h2>
                <p>
                    В это время серьёзных успехов добивались юношеские команды клуба. Так, в 1972 году в чемпионате СССР среди юношей «Коммунарец» занял третье место, причём в матче с ворошиловградской (так раньше назывался Луганск) «Зарёй» наша команда сумела забить семь безответных мячей, автором пяти из которых был<strong> Анатолий Волобуев</strong>. В настоящий момент Анатолий Иванович работает главным тренером луганской «Зари». В следующем сезоне лидером юношеской команды был <strong>Игорь Гамула</strong>, впоследствии игравший за сборную СССР на чемпионате мира среди юношей. Сейчас Игорь Васильевич работает главным тренером латвийской «Даугавы». Нельзя обойти стороной и Кубок города среди школьных команд. Два раза подряд его обладателем была школа №8, где капитаном команды был <strong>Геннадий Баткаев</strong>, впоследствии игравший за команды Стаханова и Алчевска, а в настоящее время работающий старшим тренером второй команды «Стали». В 2007 года Геннадий Николаевич был главным тренером нашего клуба. В 1978 в нашу команду пришёл перспективный вратарь <strong>Виктор Безрук</strong> – в настоящее время возглавляющий областную федерацию футбола.
                </p>                
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1983</h2>
                <p>
                    Следующее знаменательное событие в истории нашего клуба произошло в 1983 году, потому как в городе появилась ещё одна футбольная команда – «Строитель», которая спустя два года начала успешно выступать во второй лиге первенства области под руководством молодого и прогрессирующего тренера <strong>Анатолия Ивановича Волобуева</strong>. В год дебюта она заняла второе место, завоевав право участвовать в первой лиги областного чемпионата. 
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1986</h2>
                <p>
                    В 1986 году «Коммунарец» под руководством <strong>Виктора Филимонова</strong> и нынешнего начальника команды <strong>Валерия Стояна</strong> добился наиболее значимого успеха за период после распада класса «Б» – алчевцы финишировали вторыми в Чемпионате Украины, отстав от купянского «Металлурга» всего на одно очко. Лидерами команды в этом сезоне были: нынешний президент клуба <strong>Владимир Полубатко</strong> и работающий сейчас ассистентом старшего тренера второй команды <strong>Сергей Сердюков</strong>. В этом же году «Строитель», дебютировавший в первой лиге первенства области, занял седьмое место. 
                </p>            
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1988</h2 >
                <p>
                    Сезон 1988 года стал для «Коммунарца» самым неудачным в истории выступления в чемпионате Украины – набрав всего три очка, наша команда заняла последнее место в зоне, выбыв из первенства. В то же время успешно в первенстве области выступил «Строитель», став его победителем. Среди игроков «Строителя» были нынешние сотрудники клуба: ассистент главного тренера <strong>Андрей Цвик</strong>, директор детско-юношеской школы <strong>Вячеслав Францев</strong> и видеооператор <strong>Вячеслав Олещенко</strong>.
                </p>             
            </div>            
        </div>       
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1989</h2 >
                <p>
                    В 1989 году «Строитель» начал защищать спортивную честь главного предприятия города – металлургического комбината. Команда получила современное название – «Сталь», главным тренером продолжил работать <strong>Анатолий Волобуев</strong>. Была поставлена задача – попасть в пятёрку сильнейших команд в своей зоне первенства Украины. «Сталь» с честью её выполнила, заняв итоговое третье место. На следующий сезон руководство клуба поставило перед командой более высокую задачу – занять в зоне первое место, и принять участие в финальном турнире первенства Украины. «Сталь» добилась блестящих результатов, заняв в 1990 году первую строчку в четвёртой зоне, и став второй в финальном турнире. Это был заслуженный успех «Стали», и 25 января 1991 года состоялось чествование команды, в котором приняли участие председатель алчевского исполкома городского Совета народных депутатов <strong>Николай Егорович Кириченко</strong> и другие ответственные работники городской власти.
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1991</h2 >
                <p>
                    В 1991 году «Сталь» была включена во вторую лигу команд мастеров Украины, заняв по итогам сезона семнадцатое место среди двадцати шести команд. Для дебюта это был вполне удовлетворительный результат.
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1992</h2 >
                <p>
                    В 1992 году Украина, обретя независимость, как и остальные страны, входившие в состав СССР, начала проводить собственный чемпионат. Весной этого года проводились турниры в двух зонах для определения участников первенства Украины в первой лиге на сезон 1992/93. Алчевская «Сталь» заняла девятое место в своей зоне, и получила право выступать в первой лиге – с сезона 1992/93 чемпионат Украины стал проводиться по системе «осень-весна».
                </p> 
                <p>
                    В целом, в чемпионатах Украины «Сталь» выступала достаточно удачно, всегда занимая места в верхней части таблицы первой лиги, и никогда не опускаясь во вторую лигу. Главным достижением алчевцев, бесспорно является то, что в трёх сезонах «Сталь» играла среди команд высшей лиги.
                </p>            
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>1995 - 2000</h2 >
                <p>
                    В сезоне 1995/96 в первой лиге алчевцы стали третьими, а в сезоне 1999/2000, завоевав малые серебряные медали, впервые добились права выступать среди команд высшей лиги. Но, заняв тринадцатое место среди четырнадцати команд, «Сталь» покинула элитный дивизион.
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>2004</h2 >
                <p>
                    В сезоне 2004/2005 алчевская команда, уверенно выиграв первенство в первой лиге, во второй раз в истории завоевала путёвку в высшую лигу.
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2 style="color:rgb(190, 192, 59)">2005</h2 >
                <p>
                    Сезон 2005/2006 наша команда завершила на одиннадцатом месте, за тур до окончания чемпионата обеспечив себе место в высшей лиге на следующий сезон. Этот сезон стал самым успешным в истории клуба периода независимой Украины, но по его окончанию команду покинул бессменный главный тренер <strong>Анатолий Волобуев</strong>. Следующий чемпионат, в котором алчевцы выступали под руководством голландского тренера <strong>Тона Каанена</strong>, стал для команды неудачным – по его итогам «Сталь» покинула высшую лигу. 
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>2007</h2 >
                <p>
                    В сезоне 2007/2008, первый круг которого алчевцы провели под руководством <strong>Геннадия Баткаева</strong>, а второй - <strong>Олега Смолянинова</strong>, «Сталь» финишировала в первой лиге на седьмом месте, отстав от зоны высшей лиги на шестнадцать очков.
                </p>             
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>2008</h2 >
                <p>
                    Сезон 2008/2009, в начале которого команду тренировал <strong>Олег Смолянинов</strong>, а в середине и завершении - <strong>Вадим Плотников</strong>, алчевцы завершили на десятом месте - такой результат можно считать одним из самых слабых в истории клуба. Тем не менее, два следующих первенства «Сталь» под руководством <strong>Вадима Плотникова</strong>, а потом и вернувшегося в команду <strong>Анатолия Волобуева</strong> сумела завершить на третьем месте, два раза кряду завоевав бронзовые медали первой лиги.
                </p>  
                <p>
                    По итогам сезона 2012/2013 «Сталь», выиграв серебряные медали первенства, в третий раз в истории завоевала путёвку в элиту, но отказалась от выхода в Премьер-лигу. В первенстве 2013/2014 алчевцы выиграли бронзовые медали первой лиги.
                </p>           
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>Кубковая история</h2 >
                <p>
                    Несколько слов стоит сказать и об участии в розыгрышах национального Кубка. Выход в 1/4 финала Кубка Украины в сезоне <strong>2010/2011</strong> был уже третьим в истории нашего клуба. 
                </p>  
                <p>
                    В сезоне <strong>2003/2004</strong> «Сталь» уже выходила в четвертьфинал национального Кубка. Тогда жребий свёл нашу команду с донецким «Шахтёром», и в первом матче, который проходил в Алчевске, подопечные Анатолия Волобуева сумели добиться ничьей (0:0). Однако, в Донецке «горняки» всё же выиграли (3:1), оставив «Сталь» за бортом турнира.
                </p> 
                <p>
                    В сезоне <strong>2008/2009</strong> также на стадии четвертьфинала алчевцев остановило киевское «Динамо» – соперничество, состоявшее из одного матча, завершилось победой столичного клуба со счётом 4:1, которую «Динамо» сумело одержать в Алчевске.
                </p>          
                <p>
                    В сезоне <strong>2010/2011</strong> «Сталь» вновь встретилась в 1/4 финала с «Динамо, и в одноматчевом противостоянии, ведя к перерыву в Алчевске со счётом 1:0, по итогам матча команда проиграла – 2:3.
                </p>                
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2>Воспитанники клуба</h2 >
                <p>
                    Касательно футболистов, которых клуб воспитал в период независимой Украины, в первую очередь нужно отметить нынешнего тренера «Стали» – <strong>Вадима Плотникова</strong>, который стал первым в истории игроком, забившим в первой лиге сто голов. Именно Вадим Вячеславович и сейчас является лучшим бомбардиром первой лиги за всю её историю.
                </p>  
                <p>
                    Рекордсмен первой лиги по количеству проведенных матчей – <strong>Андрей Цвик</strong>, ныне ассистент главного тренера. За свою карьеру выступая лишь в «Стали», Андрей Степанович провёл в рамках первой лиги более четырёхсот матчей.
                </p> 
                <p>
                    Нельзя не отметить, что наш клуб подарил Украине одного из самых выдающихся игроков национальной сборной – <strong>Геннадия Зубова</strong>. Скоростной фланговый полузащитник большую часть своей карьеры провёл в донецком «Шахтёре», с которым добился первого чемпионства и выхода в групповой этап Лиги Чемпионов. Сейчас Геннадий Зубов – тренер юношеских команд в системе академии «Шахтёра».
                </p>          
                <p>
                    Долгое время в харьковском «Металлисте» выступал воспитанник «Стали» <strong>Александр Бабич</strong>, принимавший участие в матчах Кубка УЕФА. После этого футболист защищал цвета одесского «Черноморца».
                </p>    
                <p>
                    Под знамёнами молодёжной сборной Украины, в том числе на Чемпионате Европы, а также в составе национальной сборной Украины играл и воспитанник нашего клуба <strong>Евгений Селин</strong>, в карьере которого значатся такие клубы, как «Металлист» и «Ворскла».
                </p>   
                <p>
                    Также защищали цвета молодёжной сборной: <strong>Сергей Хистев</strong>, <strong>Дмитрий Горбушин</strong> и <strong>Артём Касьянов</strong>, регулярно играет за юношескую сборную страны <strong>Роман Мирошник</strong>.
                </p>         
            </div>            
        </div>
        <div class="history_content_block">
            <div class="history_content_margin">
                <h2 class="table_result_header">Таблица выступлений клуба</h2 >
                <div class="table_result_club tablePFL">
                    <table class="table_basis">
                        <tbody>
                            <tr>
                                <td class="table_labels">СЕЗОН</td>
                                <td class="table_labels">ЛИГА</td>
                                <td class="table_labels">МЕСТО</td>
                                <td class="table_labels display_high">И</td>
                                <td class="table_labels display_high">В</td>
                                <td class="table_labels display_high">Н</td>
                                <td class="table_labels display_high">П</td>
                                <td class="table_labels display_high">МЯЧИ</td>
                                <td class="table_labels display_high">ОЧКИ</td>
                            </tr>
                            <% for(var i=0; i<tableResult.length;i++) {%>
                             <tr>
                                <td class="table_statistic"><h4><%=tableResult[i].season %></h4></td>
                                <td class="table_statistic"><%=tableResult[i].liga %></td>
                                <td class="table_statistic"><%=tableResult[i].number %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].gamesNum %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].victoryNum %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].drawsNum %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].lesionsNum %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].goalScoreMissed %></td>
                                <td class="table_statistic display_high"><%=tableResult[i].points %></td>
                            </tr>
                            <%} %>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>

</div>