
<div class="teamNone"   style="display:none"> 

      <div class="group_foto"> 
                    <p>
                        <span>Сталь</span>
                        <span> 2013/14</span>
                    </p>
                </div>
                <div class="team_row">
                    <div class="team_row_margin">
                        <div class="header_team">
                            Голкиперы
                        </div>
                        <div class="players_block">

                            <% for(var i=0; i<goalkeepersHBS.length;i++) {%>                            
                            <div class="player_div">
                                <div class="player_infoBlock cursorPointer">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style=" background-image: url('img/team/<%=goalkeepersHBS[i].foto %>');">                                            
                                        </div>
                                        <div class="player_infoBlock_info"> 
                                            <div class="player_infoBlock_info_opacity">
                                                <div class="player_infoBlock_info_age"><%=goalkeepersHBS[i].birthday %></div>
                                                <div class="player_infoBlock_info_flex">
                                                    <div class="player_info_named">
                                                        <p>Игры:</p>
                                                        <p>Голы:</p>
                                                        <p>Передачи:</p>
                                                        <p>Карточки:</p>
                                                    </div>
                                                    <div class="player_info_count">
                                                        <p><%=goalkeepersHBS[i].game %></p>
                                                        <p><%=goalkeepersHBS[i].goal %></p>
                                                        <p><%=goalkeepersHBS[i].goalPass %></p>
                                                        <p><span><%=goalkeepersHBS[i].yellowCart %></span>/<%=goalkeepersHBS[i].redCart %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="players_flexRow">
                                        <div class="player_number">
                                            <div class="num"><%=goalkeepersHBS[i].number %></div>
                                        </div>
                                        <div class="player_nameSurname">
                                            <div class="player_nameSurname_margin">
                                                <div class="one_player_name"><%=goalkeepersHBS[i].name %></div>
                                                <div class="one_player_surname"><%=goalkeepersHBS[i].surname %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%} %>                          

                        </div>
                    </div>   

                    <div class="team_row">
                    <div class="team_row_margin">
                        <div class="header_team">
                            Защитники
                        </div>
                        <div class="players_block">

                            <% for(var x=0; x<backsHBS.length;x++) {%> 
                            <div class="player_div">
                                <div class="player_infoBlock cursorPointer">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style=" background-image: url('img/team/<%=backsHBS[x].foto %>');">                                            
                                        </div>
                                        <div class="player_infoBlock_info"> 
                                            <div class="player_infoBlock_info_opacity">
                                                <div class="player_infoBlock_info_age"><%=backsHBS[x].birthday %></div>
                                                <div class="player_infoBlock_info_flex">
                                                    <div class="player_info_named">
                                                        <p>Игры:</p>
                                                        <p>Голы:</p>
                                                        <p>Передачи:</p>
                                                        <p>Карточки:</p>
                                                    </div>
                                                    <div class="player_info_count">
                                                        <p><%=backsHBS[x].game %></p>
                                                        <p><%=backsHBS[x].goal %></p>
                                                        <p><%=backsHBS[x].goalPass %></p>
                                                        <p><span><%=backsHBS[x].yellowCart %></span>/<%=backsHBS[x].redCart %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="players_flexRow">
                                        <div class="player_number">
                                            <div class="num"><%=backsHBS[x].number %></div>
                                        </div>
                                        <div class="player_nameSurname">
                                            <div class="player_nameSurname_margin">
                                                <div class="one_player_name"><%=backsHBS[x].name %></div>
                                                <div class="one_player_surname"><%=backsHBS[x].surname %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%} %>                            

                        </div>
                    </div>   

                    <div class="team_row">
                    <div class="team_row_margin">
                        <div class="header_team">
                            Полузащитники
                        </div>
                        <div class="players_block">

                            <% for(var y=0; y<halfbacksHBS.length;y++) {%> 
                            <div class="player_div">
                                <div class="player_infoBlock cursorPointer">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style=" background-image: url('img/team/<%=halfbacksHBS[y].foto %>');">                                            
                                        </div>
                                        <div class="player_infoBlock_info"> 
                                            <div class="player_infoBlock_info_opacity">
                                                <div class="player_infoBlock_info_age"><%=halfbacksHBS[y].birthday %></div>
                                                <div class="player_infoBlock_info_flex">
                                                    <div class="player_info_named">
                                                        <p>Игры:</p>
                                                        <p>Голы:</p>
                                                        <p>Передачи:</p>
                                                        <p>Карточки:</p>
                                                    </div>
                                                    <div class="player_info_count">
                                                        <p><%=halfbacksHBS[y].game %></p>
                                                        <p><%=halfbacksHBS[y].goal %></p>
                                                        <p><%=halfbacksHBS[y].goalPass %></p>
                                                        <p><span><%=halfbacksHBS[y].yellowCart %></span>/<%=halfbacksHBS[y].redCart %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="players_flexRow">
                                        <div class="player_number">
                                            <div class="num"><%=halfbacksHBS[y].number %></div>
                                        </div>
                                        <div class="player_nameSurname">
                                            <div class="player_nameSurname_margin">
                                                <div class="one_player_name"><%=halfbacksHBS[y].name %></div>
                                                <div class="one_player_surname"><%=halfbacksHBS[y].surname %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%} %>                            

                        </div>
                    </div>   

                    <div class="team_row">
                    <div class="team_row_margin">
                        <div class="header_team">
                            Нападающие
                        </div>
                        <div class="players_block">
                            
                            <% for(var z=0; z<forwardsHBS.length;z++) {%> 
                            <div class="player_div">
                                <div class="player_infoBlock cursorPointer">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style=" background-image: url('img/team/<%=forwardsHBS[z].foto %>');">                                            
                                        </div>
                                        <div class="player_infoBlock_info"> 
                                            <div class="player_infoBlock_info_opacity">
                                                <div class="player_infoBlock_info_age"><%=forwardsHBS[z].birthday %></div>
                                                <div class="player_infoBlock_info_flex">
                                                    <div class="player_info_named">
                                                        <p>Игры:</p>
                                                        <p>Голы:</p>
                                                        <p>Передачи:</p>
                                                        <p>Карточки:</p>
                                                    </div>
                                                    <div class="player_info_count">
                                                        <p><%=forwardsHBS[z].game %></p>
                                                        <p><%=forwardsHBS[z].goal %></p>
                                                        <p><%=forwardsHBS[z].goalPass %></p>
                                                        <p><span><%=forwardsHBS[z].yellowCart %></span>/<%=forwardsHBS[z].redCart %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="players_flexRow">
                                        <div class="player_number">
                                            <div class="num"><%=forwardsHBS[z].number %></div>
                                        </div>
                                        <div class="player_nameSurname">
                                            <div class="player_nameSurname_margin">
                                                <div class="one_player_name"><%=forwardsHBS[z].name %></div>
                                                <div class="one_player_surname"><%=forwardsHBS[z].surname %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%} %>                           

                        </div>
                    </div>   
                          
                </div>
                <div class="team_row">
                    <div class="team_row_margin">
                        <div class="header_team">
                            Тренеры
                        </div>
                        <div class="players_block">
                            <div class="player_div">
                                <div class="player_infoBlock">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style="background-image: url('img/team/Volobuev.png'); ">
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="managment">
                                        <p>Главный тренер</p>
                                        <p>Анатолий Волобуев</p>
                                    </div>
                                </div>
                            </div>

                             <div class="player_div">
                                <div class="player_infoBlock">
                                    <div class="player_infoBlock_margin">
                                        <div class="player_infoBlock_foto" style="background-image: url('img/team/Cvik.png'); ">
                                        </div>
                                    </div>
                                </div>
                                <div class="player_name">
                                    <div class="managment">
                                        <p>Ассистент тренера</p>
                                        <p>Андрей Цвик</p>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
</div>